<DOCTYPE html>
        <html>
            <head>
                <title>ChatApp</title>
                <link rel="stylesheet" type="text/css" href="../css/style.css">
            </head>
            <body class="backgroundimage">
                    <div class="rtitle">
                     
                            
                         
                            <ul class="options">    
                                    <li class="titleheader">ChatApp</li>               
                                    <li class="list"><a href="" style="color:blanchedalmond">Register</a></li>
                                    <li class="list"><a href="login.html" style="color:blanchedalmond">Login</a></li>
                                    <li class="list"><a href="registartion.html"style="color:blanchedalmond" >Home</a></li>
                            
                        </nav>
                    </div>
                <form>
                    <div class="lregister">
                            <h2 class="lheadline">Login here</h2>
                            <div class ="lcontent">

                                    Enter user name:<br>
                                    <input type="text" name = "username"><br><br>
                                    
                                    Enter password :<br>
                                    <input type="text" name = "password"><br><br>
                                                        
                                    <a href="" class="buttonstyle">Login</a>
                                    <a href="registartion.html" class="buttonstyle">Register</a> <br><br><br>
                                    <a href="forgetPassword.html" class="buttonstyle">Forgot Password</a>
                        </div> 
                    </div>
                </form>
            </body>
        </html>