<DOCTYPE html>
    <html>
        <head>
            <title>ChatApp</title>
            <link rel="stylesheet" type="text/css" href="../css/style.css">

        </head>
        <body class="backgroundimage">
            <div class="rtitle">
                     
                    <h1 class="titleheader">ChatApp</h1>
                    <nav> 
                    <ul class="options">                   
                            <li class="list"><a href="" style="color:blanchedalmond">Register</a></li>
                            <li class="list"><a href="login.html" style="color:blanchedalmond">Login</a></li>
                            <li class="list"><a href="registartion.html"style="color:blanchedalmond">Home</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <form>
                    <div class="register">
                            <h2 class="headline">Register here</h2>
                        <div class ="rcontent">
                           
                            Enter user name:<br>
                            <input type="text" name = "username"><br><br>
                            Enter email Id:<br>
                            <input type="text" name = "emailId"><br><br>
                            Enter password :<br>
                            <input type="text" name = "password"><br><br>
                            conform password : <br>
                            <input type="text" name = "conform_password"><br><br>
                                                
                            <a href="" class="buttonstyle"> Submit</a>
                            <a href="login.html" class="buttonstyle">Login</a> 

                        </div>  
                    </div>  
                </form>
            </div>
        </body>
    </html>